[submodule "esphome"]
  path = esphome
  url = git@github.com:maartenpaauw/esphome-config.git
  branch = master
[submodule "magic-mirror/modules/MMM-CountDown"]
  path = magic-mirror/modules/MMM-CountDown
  url = git@github.com:boazarad/MMM-CountDown.git
  branch = master
[submodule "magic-mirror/modules/MMM-Cursor"]
  path = magic-mirror/modules/MMM-Cursor
  url = git@github.com:MarinescuEvghenii/MMM-Cursor.git
  branch = master
[submodule "magic-mirror/modules/MMM-rain-forecast"]
  path = magic-mirror/modules/MMM-rain-forecast
  url = git@github.com:SpoturDeal/MMM-rain-forecast.git
  branch = master
[submodule "magic-mirror/modules/MMM-zoom"]
  path = magic-mirror/modules/MMM-zoom
  url = git@github.com:maartenpaauw/MMM-zoom.git
  branch = master
[submodule "homeassistant"]
  path = homeassistant
  url = git@github.com:maartenpaauw/home-assistant-config.git
  branch = master
[submodule "magic-mirror/modules/MMM-HLTV"]
  path = magic-mirror/modules/MMM-HLTV
  url = git@github.com:maartenpaauw/MMM-HLTV.git
